<div class="container">
  <div class="title-row">
    <h2>{{ title }}</h2>
  </div>
  <div class="row">
    <form>
      <form [formGroup]="otpForm" (ngSubmit)="submit()">
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input formControlName="email" type="email" class="form-control" />
          <br /><br />
        </div>
        <input
          class="input-box"
          type="text"
          formControlName="otp"
          #txt1
          maxlength="1"
          (keyup)="fillBoxManually($event, '', txt1, txt2)"
        />
        <input
          class="input-box"
          type="text"
          formControlName="otp"
          #txt2
          maxlength="1"
          (keyup)="fillBoxManually($event, txt1, txt2, txt3)"
        />
        <input
          class="input-box"
          type="text"
          formControlName="otp"
          #txt3
          maxlength="1"
          (keyup)="fillBoxManually($event, txt2, txt3, txt4)"
        />
        <input
          class="input-box"
          type="text"
          formControlName="otp"
          #txt4
          maxlength="1"
          (keyup)="fillBoxManually($event, txt3, txt4, txt5)"
        />
        <input
          class="input-box"
          type="text"
          formControlName="otp"
          #txt5
          maxlength="1"
          (keyup)="fillBoxManually($event, txt4, txt5, txt6)"
        />
        <input
          class="input-box"
          type="text"
          formControlName="otp"
          #txt6
          maxlength="1"
          (keyup)="fillBoxManually($event, txt5, txt6, '')"
        />
        <br /><br />
        <button class="submit" [disabled]="!otpForm.valid">Submit</button>
      </form>
    </form>
  </div>
</div>
