.container{
  padding-top: 200px;
  text-align: center;
}

.row{
  padding: 10px;
  padding-left: 4px;
}

.input-box{
  cursor:pointer;
  text-align: center;
  width: 40px;
  padding: 5px;
  margin-left: 5px;
}

.submit{
  background-color: green;
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 10px;
}

.card{
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(90deg, hsla(205, 46%, 30%, 1), hsla(260, 29%, 36%, 1) 100%);
}

.form-control{
  text-align: center;
}
